.container{
    max-width: 100%;
    margin: 0;
    background-color: white;
    overflow-x: hidden;
  }
  

.grid-container{
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 35px 155px 50px 50px 20px 45px 180px 180px 45px 120px 120px 120px 45px 45px;
  }

  body {
    font-family: 'Noto Sans', sans-serif;
  }

  .empty{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .header{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    border-style: solid;
    margin-left: 125px;
  }

.p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.h3{
    font-size: 24px;
}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-style: solid;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 6;
  }
  
  li {
    float: left;
    margin-left: 225px;
    border-left: solid;
    border-right: solid;
    background-color: black;
  }
  
  li a {
    font-family: 'Roboto', sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 23px 18px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(255, 115, 0);
  }

  .active {
    background-color: rgb(219, 219, 219);
  }

  .foto1{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .foto2{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .foto3{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 8;
  }

  .foto4{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 10;
  }

 
  .footer{
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 11;
    grid-row-end: 12;
    background-color: rgb(163, 63, 63);
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
