.container{
    max-width: 1000px;
    margin: auto;
    background-color: white;
    overflow-x: hidden;
  }
  

 .grid-container{
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 35px 155px 50px 35px 20px 45px 180px 100px;
  }

  body {
    font-family: 'Noto Sans', sans-serif;
    background-color: grey;
  }

  .empty{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .header{
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url('../images/header.jpg');
    border-style: solid;
    background-size: cover;
    margin-left: 115px;
  }

 .p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }

 .h3{
    font-size: 24px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-top: solid;
    border-bottom: solid;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 6;
  }
  
  li {
    float: left;
    margin-left: 110px;
    border-left: solid;
    border-right: solid;
    background-color: black;
  }
  
  li a {
    font-family: 'Roboto', sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(255, 115, 0);
  }

  .active {
    background-color: rgb(219, 219, 219);
  }

  .pic1{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 8;
    background-image: url('../images/pic1.jpg');
    border-style: solid;
    background-size: cover;
    width: 420px;
    height: 200px;
  }

  .pic2{
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 8;
    margin-left: 76px;
    background-image: url('../images/pic2.jpg');
    border-style: solid;
    background-size: cover;
    width: 420px;
    height: 200px;
  }

  .pic3{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 10;
    margin-left: 0px;
    background-image: url('../images/pic3.gif');
    border-style: solid;
    background-size: cover;
    width: 300px;
    height: 600px;
    margin-bottom: 50px;
  }

  .pic4{
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 10;
    margin-left: 96px;
    background-image: url('../images/pic4.jpg');
    border-style: solid;
    background-size: cover;
    width: 300px;
    height: 200px;
  }

  .pic5{
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 8;
    grid-row-end: 10;
    margin-left: 96px;
    margin-top: 26px;
    background-image: url('../images/pic5.jpg');
    border-style: solid;
    background-size: cover;
    width: 300px;
    height: 200px;
  }

  .pic6{
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 9;
    grid-row-end: 10;
    margin-left: 96px;
    margin-top: 132px;
    background-image: url('../images/pic6.jpg');
    border-style: solid;
    background-size: cover;
    width: 300px;
    height: 200px;
  }

  .pic7{
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 9;
    grid-row-end: 10;
    margin-top: 40px;
    margin-left: 18px;
    background-image: url('../images/pic7.jpg');
    border-style: solid;
    background-size: cover;
    width: 960px;
    height: 100px;
  }

  .pic8{
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 8;
    margin-top: 40px;
    margin-left: 18px;
    background-image: url('../images/pic8.jpg');
    border-style: solid;
    background-size: cover;
    width: 960px;
    height: 100px;
  }


  .title1{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 9;
    margin-left: 45px;
    margin-top: 25px
  }

  .title2{
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 8;
    grid-row-end: 9;
    margin-left: 125px;
    margin-top: 25px
  }
  
  .title3{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 8;
    margin-left: 15px;
  }

  .title4{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 9;
    margin-left: 15px;
    margin-top: 15px;
  }

  .title5{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 9;
    grid-row-end: 10;
    margin-left: 15px;
    margin-top: 122px
  }

  .title6{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 9;
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
    background-color: black;
    color: white;
  }


  .title7{
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 8;
    grid-row-end: 9;
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
    background-color: black;
    color: white;
  }


  .para1{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 10;
    margin-left: 30px;
    margin-bottom: 50px;
  }

  .para2{
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 9;
    grid-row-end: 10;
    margin-right: 30px;
  }

  .para3{
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 7;
    grid-row-end: 8;
    margin-right: 40px;
    margin-left: 90px;
    margin-top: 55px;
    text-align: end;
  }

  .para4{
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 8;
    grid-row-end: 9;
    margin-right: 40px;
    margin-left: 90px;
    margin-top: 70px;
    text-align: end;
  }

  .para5{
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 9;
    grid-row-end: 10;
    margin-right: 40px;
    margin-left: 90px;
    margin-top: 180px;
    text-align: end;
  }

  .para6{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 10;
    margin-bottom: 20px;
    background-color: grey;
  }

  .para7{
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 9;
    grid-row-end: 10;
    margin-bottom: 20px;
    background-color: grey;
  }
  
  .footer{
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 10;
    grid-row-end: 11;
    background-color: rgb(255, 115, 0);
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
